/* https://api.rawg.io/api/games?key=373c0a426b8e43d19559088f49c43527 */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  color: white;
  background-color: black;
  font-family: "Roboto", sans-serif;
  padding: 30px;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 72px;
  font-weight: 700;
}

h3 {
  color: gray;
  font-size: 14px;
  font-weight: 900;
  margin-top: 21px;
  margin-bottom: 7px;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* =======> header <======= */
.header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-rawg {
  font-weight: 900;
  letter-spacing: 5px;
}

.logo-search {
  width: 70%;
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo-search input {
  padding-left: 20px;
  border: none;
  background-color: gray;
  width: 100%;
  height: 44px;
  border-radius: 24px;
  outline: none;
}

.signup-login {
  margin-left: 30px;
  display: flex;
  gap: 30px;
}

.signup-login span {
  font-size: 14px;
  font-weight: 300;
}

.icon {
  color: white;
}

/* =======> Menu principal <======= */
.menu {
  /* border: solid 1px green; */
  width: 200px;
  margin-top: 45px;
}

.menu h2 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 15px;
}

.menu p {
  font-size: 16px;
  font-weight: 300;
}

.litle-menu {
  /* border: solid 1px red; */
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}

.icon-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: rgb(46, 46, 46);
  border-radius: 5px;
}

.litle-menu:hover {
  cursor: pointer;
}
.litle-menu:hover .icon-menu {
  background-color: white;
  color: black;
  cursor: pointer;
}

/* =======> page Home <======= */
.section-home {
  /* border: solid 1px yellow; */
  display: flex;
  gap: 10px;
}

.home {
  /* border: solid 1px red; */
  margin-top: 35px;
  flex: 1;
}

.all-games {
  /* border: solid 1px green; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 25px;
}

.game {
  /* border: solid 1px purple; */
  width: 260px;
  height: 325px;
}

.game img {
  width: 260px;
  height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: rgb(50, 50, 50) 0px 8px 24px;
}

.game img:hover {
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), red) 0 100%;
  opacity: 75%;
}

.title-game {
  background-color: #151515;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.title-game p {
  color: #575757;
  font-size: 12px;
}

.title-game h2 {
  margin-top: 20px;
}

.platforms-names {
  line-height: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-end;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* =======> page Détail du jeu <======= */
.detail-game {
  width: 90vw;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding: 30px;
  gap: 30px;
}

.detail-game img {
  width: 600px;
  height: 450px;
  object-fit: cover;
}

.detail-game .small-image {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.release {
  font-weight: 100;
  margin-top: 30px;
}

.container-description {
  display: flex;
  flex-direction: column;
  padding-left: 80px;
}

.about {
  width: 800px;
  display: flex;
}

.about p {
  font-size: 14px;
  font-weight: 100;
  line-height: 18px;
  margin-bottom: 75px;
}

.title {
  margin-top: 10px;
  font-size: 30px;
}

.carousel-game {
  /* border: solid 1px purple; */
  width: 920px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.carousel {
  /* border: solid 1px purple; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel p {
  padding-bottom: 4px;
  border-bottom: solid 1px white;
  font-size: 38px;
  font-weight: 100;
  margin-bottom: 25px;
}

.carousel-game img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

/* =======> page SignUp <======= */
.signup {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 300px;
  gap: 200px;
}
.signup-left {
  /* border: solid 1px red; */
  width: 300px;
}

.signup-left h2 {
  font-size: 44px;
  font-weight: 300;
  margin-bottom: 40px;
}

.signup-right h2 {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 40px;
}

.signup-right {
  width: 325px;
}

.signup-right div {
  width: 325px;
  margin-bottom: 25px;
}

.form-signup {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input-signup {
  color: white;
  font-size: 18px;
  background-color: rgb(33, 33, 33);
  height: 50px;
  padding-left: 20px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.btn-signup {
  font-size: 18px;
  background-color: white;
  height: 50px;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
}

.already {
  font-weight: 100;
  margin-top: 20px;
  text-align: center;
  text-decoration: underline;
}

.social-account {
  width: 100%;
  height: 40px;
  background-color: #4267b2;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-account img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.social-account-twitter {
  width: 100%;
  height: 40px;
  background-color: #33a4ec;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-account-twitter img {
  margin-left: 5px;
  width: 35px;
  height: 35px;
  border-radius: 5px;
}

.social-account-steam {
  width: 100%;
  height: 40px;
  background-color: #3d7193;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-account-steam img {
  margin-left: 5px;
  width: 35px;
  height: 35px;
  border-radius: 5px;
}

.social-account span {
  margin-right: 60px;
}

.social-account-twitter span {
  margin-right: 70px;
}

.social-account-steam span {
  margin-right: 70px;
}

/* =======> page Login <======= */
.background-login {
  position: absolute;
  width: 100vw;
  height: 140vh;
  margin-left: -40px;
  margin-top: -80px;
  background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 1) 90%
    ),
    url("./assets/images/fond-login.jpg");
  background-repeat: no-repeat;
}
